{% extends "base.html" %}
{% load static %}


{% block container %}


        <section>
            <div class="container-fluid power_system_main">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 0%; padding-right: 0%;">
                        <div class="power_system_img">
                            <img src="{% static 'images/knowledge_center.png' %}" alt="solar_system" class="img-fluid" style="width:100%;">
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <div class="accoroding-knowledge mt-3">
            <div class="container">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is solar Power?
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Solar energy is produced from the heat of the sun, which is a renewable source of
                                    energy that can be harnessed to produce electricity to power our residences and
                                    businesses. Solar is also a clean source of energy, which implies it is excellent
                                    for
                                    our environment. We place solar panels on your roofs to utilize solar power to
                                    obtain a
                                    significant amount of sunlight and solar energy. Solar panels usually require little
                                    maintenance and the whole installation process is hassle-free too. The amount of
                                    power
                                    or electricity produced depends on the location, the weather conditions and time of
                                    the
                                    day.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How Solar works ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Solar panels are installed in a shade free clear area. they are either roof mounted
                                    or ground mounted. The panels work by converting light form the sun into
                                    electricity.
                                    This is DC and it is fed in to a inverter to convert it to AC and then sent in to
                                    the
                                    property for use through the main switchboard. If there is any excess electricity
                                    being
                                    produced, it can be exported into the grid and generally there is a feed in tariff
                                    paid
                                    to the property owner by their electricity retailer.

                                    Once installed, the solar system works on it own. It does not need to be switched on
                                    or
                                    off. While the panels require bare minimum upkeep, it is good idea to check that
                                    panels
                                    are clean from time to time. Clean panels perform better.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Different types of Solar installs - Normal - Hybrid - Off Grid
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>There are many ways a solar system can be installed. Most systems are installed on
                                    grid connected properties to supplement the day usage. The properties still use the
                                    electricity from conventional sources at night times.

                                    Hybrid : A hybrid inverter is used along with a battery. The solar panels work
                                    during
                                    the day and power the property and also charge the battery before exporting any
                                    surplus
                                    electricity. The battery kicks in during night and supplies the electricity to the
                                    property. Once the battery drains off, then the property will draw electricity from
                                    the
                                    grid.

                                    Off Grid: In this scenario, the property is not connected to any electrical grid. It
                                    is
                                    solely dependent on Solar Power. it is recommended that a back up generator be
                                    present
                                    in case of encountering many consecutive days of low sunlight. The solar panels will
                                    supply power during the day and batteries will provide electricity at night.
                                    does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Benefits of Solar - Why Choose Solar?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>There are many ways a solar system can be installed. Most systems are installed on
                                    grid connected properties to supplement the day usage. The properties still use the
                                    electricity from conventional sources at night times.

                                    Hybrid : A hybrid inverter is used along with a battery. The solar panels work
                                    during
                                    the day and power the property and also charge the battery before exporting any
                                    surplus
                                    electricity. The battery kicks in during night and supplies the electricity to the
                                    property. Once the battery drains off, then the property will draw electricity from
                                    the
                                    grid.

                                    Off Grid: In this scenario, the property is not connected to any electrical grid. It
                                    is
                                    solely dependent on Solar Power. it is recommended that a back up generator be
                                    present
                                    in case of encountering many consecutive days of low sunlight. The solar panels will
                                    supply power during the day and batteries will provide electricity at night.
                                    does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Solar Applications in real world
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Solar electricity can be used to power households, RV’s, commercial and industrial
                                    sites. Solar electricity is identical to power generated from fossil fuels, wind &
                                    hydro. It is beneficial to use the power during the day while it is being produced.
                                    The
                                    use of timers is helpful on appliances like dishwashers, washing machines, dryers,
                                    robotic vacuum cleaners, pool pumps, electric cars/bikes and electric heaters/water
                                    heaters can be turned on to maximise the use of free solar power and give big
                                    financial
                                    savings. Solar panels are being used as shades to construct car parks. Solar power
                                    is
                                    being used to power trains. Solar Farms are being constructed all over the world to
                                    generate electricity to supplement the coal and nuclear fired power plants.e day and
                                    batteries will provide electricity at night.
                                    does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock container %}