{% extends "base.html" %}
{% load static %}


{% block container %}


        <section>
            <div class="container-fluid power_system_main">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 0%; padding-right: 0%;">
                        <div class="power_system_img">
                            <img src="{% static 'images/latest_news.png' %}" alt="solar_system" class="img-fluid" style="width:100%;">
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <div class="solar-title text-start">
            <div class="container">
                <h2 class="pt-4 wow animate__fadeInDown fs-3" data-wow-duration="1s" data-wow-delay="0.05s">The latest news, views and projects from Australia’s solar energy industry, exploring technologies, policies and their impact on the broader energy industry</h2>
            </div>
        </div>
        <section class="latest-news-section pt-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card wow animate__fadeInLeft" data-wow-duration="3s" data-wow-delay="0.08s">
                            <img src="{% static 'images/latest/Solar-Panel-Cells.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="post-title entry-title"><a
                                        href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">AGL
                                        signs MoU for solar recycling partnership</a></h3>
                                <span>Sarah MacNamara, June 25, 2024, Company news, Electricity, News, Renewable Energy,
                                    Solar, Spotlight, 0 </span>
                                <p>AGL and Elecsome have announced that they will collaborate to undertake a feasibility
                                    study for a solar panel recycling...</p>
                                <div class="post-footer text-end">
                                    <small>
                                        <a href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/"><span class="muted pull-right">Read more</span></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card wow animate__fadeInLeft" data-wow-duration="2s" data-wow-delay="0.05s">
                            <img src="{% static 'images/latest/Solar-energy-presentation.jpg' %}" class="card-img-top object-cover"
                                alt="...">
                            <div class="card-body">
                                <h3 class="post-title entry-title"><a
                                        href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Solar
                                        innovation encouraged with $100M challenge</a></h3>
                                <span>Sarah MacNamara, June 25, 2024, Company news, Electricity, News, Renewable Energy,
                                    Solar, Spotlight, 0 </span>
                                <p>The Australian Renewable Energy Agency (ARENA) has launched its Solar ScaleUp
                                    Challenge to channel further innovation into the industry....</p>
                                <div class="post-footer text-end">
                                    <small>
                                        <a href="https://www.energymagazine.com.au/solar-innovation-encouraged-with-100m-challenge/"><span class="muted pull-right">Read more</span></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.05s">
                            <img src="{% static 'images/latest/solarimage-3.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="post-title entry-title"><a
                                        href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">WA
                                        Indigenous renewables project receives environmental approval</a></h3>
                                <span>Steph Barker, June 18, 2024, Batteries & Storage, News, Projects, Renewable
                                    Energy, Solar, Spotlight, Wind, 0 </span>
                                <p>Western Australia has processed the first project assessment as part of the State
                                    Government's Green Energy Approvals Initiative, granting...</p>
                                <div class="post-footer text-end">
                                    <small>
                                        <a href="https://www.energymagazine.com.au/wa-indigenous-renewables-project-receives-environmental-approval/"><span class="muted pull-right">Read more</span></a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="3s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solarimage-3.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Aus
                                            first indigenous-owned solar microgrid launched</a></h3>
                                    <span>Kody Cook, June 6, 2024, Electricity, News, Projects, Renewable Energy, Solar,
                                        Spotlight, 0 </span>
                                    <p>The remote Northern Territory community of Marlinja is now home to Australia’s
                                        first-ever First Nations-owned, grid-connected solar microgrid. Located...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/aus-first-indigenous-owned-solar-microgrid-launched/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="2s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-5.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Shining
                                            a light on the future: a pathway for ultra low cost solar</a></h3>
                                    <span>Katie Livingston, May 23, 2024, Distributed Generation, Electricity, Features,
                                        Networks, Renewable Energy, Solar, Sponsored Editorial,</span>
                                    <p>Australia is known for its abundant sunshine, but harnessing this resource
                                        efficiently and cost-effectively is an ongoing challenge. We...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/shining-a-light-on-the-future-a-pathway-for-ultra-low-cost-solar/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-6.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Contract
                                            awarded for Aus largest grid connected solar project</a></h3>
                                    <span>Kody Cook, May 22, 2024, Company news, Electricity, News, Projects, Renewable
                                        Energy, Solar, Spotlight, 0 </span>
                                    <p>The Bulli Creek Solar Project – set to be Australia’s largest grid-connected
                                        solar farm – has selected an owner’s...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/contract-awarded-for-aus-largest-grid-connected-solar-project/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-7.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Vic Budget to deliver $38M electric hot water rebates</a></h3>
                                    <span>Steph Barker, May 13, 2024, News, Renewable Energy, Solar, Spotlight, 0 </span>
                                    <p>The Solar Homes Program is the largest household renewable energy program of any state in Australia and is designed...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/vic-budget-to-deliver-38m-electric-hot-water-rebates/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-8.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Horizon Power’s smart solar program expands to Broome
                                            awarded for Aus largest grid connected solar project</a></h3>
                                    <span>Steph Barker, May 7, 2024, News, Projects, Renewable Energy, Solar, Spotlight, 0</span>
                                    <p>The technology is designed to help thousands of customers access rooftop solar and energy bill savings. Horizon Power said...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/horizon-powers-smart-solar-program-expands-to-broome/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-9.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Solar Vic unveils latest Notice to Market</a></h3>
                                    <span>Kody Cook, May 22, 2024, Company news, Electricity, News, Projects, Renewable
                                        Energy, Solar, Spotlight, 0 </span>
                                    <p>The Bulli Creek Solar Project – set to be Australia’s largest grid-connected
                                        solar farm – has selected an owner’s...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/solar-vic-unveils-latest-notice-to-market/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-10.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">ARENA to commence Solar Sunshot consultations</a></h3>
                                    <span>Steph Barker, April 24, 2024, News, Renewable Energy, Solar, Sponsored Editorial, Stakeholder Engagement, 0 </span>
                                    <p>The $1 billion program outlines a pathway to the commercialisation of local solar PV innovation. The Australian Renewable Energy...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/arena-to-commence-solar-sunshot-consultations/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-11.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Horizon Power delivers rooftop solar project at Derby Regional Hospital</a></h3>
                                    <span>Steph Barker, April 22, 2024, News, Projects, Renewable Energy, Solar, Spotlight, 0 </span>
                                    <p>The 910 panel, 364kW rooftop solar photovoltaic system has been switched on at the Kimberley hospital. The system is...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/horizon-power-delivers-rooftop-solar-project-at-derby-regional-hospital/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card wow animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.08s">
                                <img src="{% static 'images/latest/solar-12.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="post-title entry-title"><a
                                            href="https://www.energymagazine.com.au/agl-signs-mou-for-solar-recycling-partnership/">Contract awarded for Nhill renewable facility construction</a></h3>
                                    <span>Steph Barker, May 6, 2024, Company news, News, Projects, Renewable Energy, Solar, Spotlight, 0  </span>
                                    <p>Construction of the GWMWater-owned solar farm is expected to commence in May 2024. GWMWater has awarded a contract to...</p>
                                    <div class="post-footer text-end">
                                        <small>
                                            <a href="https://www.energymagazine.com.au/contract-awarded-for-nhill-renewable-facility-construction/"><span class="muted pull-right">Read more</span></a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Include WOW.js library -->
        <script src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script src="js/jquery.min.js"></script>



{% endblock container %}