{% extends "base.html" %}
{% load static %}


{% block container %}


        <section>
            <div class="container-fluid power_system_main">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 0%; padding-right: 0%;">
                        <div class="power_system_img">
                            <img src="{% static 'images/product/product.png' %}" alt="solar_system" class="img-fluid" style="width:100%;">
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section class="residential_solar">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="product-solar">
                            <img src="{% static 'images/product/service-details.png.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="product-solar-2">
                            <img src="{% static 'images/product/service-details2.png.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product-text">
                            <h3 class="mb-3">This service overview</h3>
                            <p>I-Solar Nation provides renewable solar power solutions for commercial and residential
                                use. Based in Point Cook, VIC, we
                                install solar panels, batteries, and inverters all across the country.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Provide Solar Solution -->

        <section class="products_solar">
            <div class="product-solar">
                <div class="container">
                    <div class="product-solar-text text-center">
                        <h6>Our Most Service</h6>
                        <h2>Provide Solar Solution</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="product-solar-bottom">
                                <div class="product-solar-box">
                                    <img src="{% static 'images/product/service1.png.png' %}" alt="" class="img-fluid">
                                    <div class="product-box">
                                        <h4>Solar Panels</h4>
                                        <p>Tier-one solar panels which are highly efficient in converting solar power
                                            into electricity.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="product-solar-bottom">
                                <div class="product-solar-box">
                                    <img src="{% static 'images/product/service2.png (1).png' %}" alt="" class="img-fluid">
                                    <div class="product-box">
                                        <h4>Inverters </h4>
                                        <p>An inverter is one of the most important pieces of equipment in a solar
                                            energy
                                            system.It's a device that converts direct
                                            current (DC) electricity, which is what a solar panel generates, to
                                            alternating
                                            current (AC) electricity, which the
                                            electrical grid uses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product-solar-bottom">
                                <div class="product-solar-box">
                                    <img src="{% static 'images/product/service2.png.png' %}" alt="" class="img-fluid">
                                    <div class="product-box">
                                        <h4>Batteries</h4>
                                        <p>Solar batteries generate energy from sunlight, which can then be used to
                                            power devices or recharge phones and laptops</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6">
                            <div class="product-solar-bottom">
                                <div class="product-solar-box">
                                    <img src="{% static 'images/product/service1.png (1).png' %}" alt="" class="img-fluid">
                                    <div class="product-box">
                                        <h4>Installations</h4>
                                        <p>Key components and tools for installing a solar power system. The most common
                                            &
                                            economical location to install an
                                            insolation system is on the roof of a building. Experts will assess the roof
                                            &
                                            installation orientation, the
                                            specifications for sun installation to capture the most sunlight.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="product-solar-bottom">
                                <div class="product-solar-box">
                                    <img src="{% static 'images/product/service3.png.png' %}" alt="" class="img-fluid">
                                    <div class="product-box">
                                        <h4>Financing Options</h4>
                                        <p>The government around the world is encouraging the adaption of solar energy
                                            for daily electricity purposes. Solar Panel
                                            is one of your most efficient investments. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        
        <section class="solar-boxs pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="offer-box">
                            <div class="container pt-2">
                                <div class="bolt-img d-flex align-content-center">
                                    <img src="{% static 'images/product/bolt.png' %}" alt="" class="img-fluid">
                                    <h4 class="offer-title mb-4 fs-5 fw-bold">4.4 KW</h4>
                                </div>
                                <h6 class="fs-6 mb-4 solar-text mt-2">Canadian 440W panels with 10 Solar Panels + Goodwe InverterS</h6>
                                <h5 class="offer-details mb-4">$3,900*</h5>
                                <p class="offer-note fs-6">
                                    This price is for a Single Storey Tin roof house after STC being assigned to I Solar Nation
                                </p>
                            </div>
                        </div>
                        <div class="offer-box mt-3">
                            <div class="container pt-2">
                                <div class="bolt-img d-flex align-content-center">
                                    <img src="{% static 'images/product/bolt.png' %}" alt="">
                                    <h4 class="offer-title mb-4 fs-5 fw-bold">6.6 KW</h4>
                                </div>
                                <h6 class="fs-6 mb-4 lh-sm solar-text mt-2">Canadian 440W panels with 15 Solar Panels + Goodwe GW5000-DNS-30 (AS4777-2 2020) InverterS</h6>
                                <h5 class="offer-details mb-4">$5,500*</h5>
                                <p class="offer-note fs-6">
                                    *This price is for a single-storey tin roof house in Melbourne after STC has been
                                    assigned to Zing Solar Vic
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="solar-image">
                            <img src="{% static 'images/product/Frame_7000.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        



{% endblock container %}