{% extends "base.html" %}
{% load static %}


{% block container %}
    <section>
        <div class="container-fluid power_system_main">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 0%; padding-right: 0%;">
                    <div class="power_system_img">
                        <img src="{% static 'assets/solar_system.png' %}" alt="solar_system" class="img-fluid" style="width:100%;">
                    </div>
                </div>
            </div>
           

        </div>
    </section>

    <section class="residential_solar" id="residentialsolar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="residential_solar_main">
                        <img src="{% static 'assets/service-details.png' %}" alt="residential_solar" class="img-fluid">
                    </div>
                    <div class="residential_solar_content">
                        <h4>RESIDENTIAL SOLAR</h4>
                    </div>
                    <div class="residential_solar_text">
                        <p>Every household and client is different hence we provide customized solar panel systems of high quality at affordable and flexible plans according to the electricity consumption. We discuss with our clients and as per their requirements, we provide a detailed Energy Management Solution to meet their needs.<br><br>

                            Our solar experts are experienced in Solar for more than 10 years and will guide you throughout the process and provide you with the best solution based on individual needs. We go the extra mile and make sure that all our Clients are 100% satisfied and happy with the service provided to them.<br><br>
                            
                            We offer CEC approved Products such as Panels, Inverters, and Batteries only. We regularly participate in the training provided by all the product manufacturers to stay on top of the product capabilities.<br>   
                            
                            Installations done by us are hassle free and only by our CEC Accredited Installers. Very efficient and prompt in their work.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="solar-get-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="solar-get-text">
                        <img src="{% static 'assets/image_for_solare_p.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="solar-panel-img">
                        <h4 class="mb-3 text-uppercase">Residential</h4>
                        <h6 class="mb-3">16.28 KW System</h6>
                        <p>We have installed 16.28 KW system with 37 Canadian 440W Panels and Goodwe 15KW Inverter.
                            The owners of the Cafe are very happy with their decision as they wanted the maximum
                            panels on their roof and with the help of our experienced and CEC approved installer we
                            have done it successfully.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section class="residential_solar" id="commercialsolar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="residential_solar_main">
                        <img src="{% static 'assets/service-details_two.png' %}" alt="residential_solar" class="img-fluid">
                    </div>
                    <div class="residential_solar_content">
                        <h4>COMMERCIAL SOLAR</h4>
                    </div>
                    <div class="residential_solar_text">
                       <p>Solar is a very good option for commercial as the majority of businesses, schools, and farms operate during daylight. The focus of the project can be to offset the current energy usage on a daily basis and reduce the energy bills and invest in large scale solar farms.<br><br>

                        We examine every client's energy profile, site, and location variables and then understand their financial goals. I Solar Nation then calculates the size of the commercial solar power installation, which is most suitable for the client, we set the timeframe that will be required to realize the untapped potential in the client's power consumption bill.<br><br>
                        
                        All the installers are CEC Accredited and are very experienced installers. To back it all up, we offer you always a prompt service.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <section class="group-image">
        <div class="container">
            <img src="{% static 'assets/Group_367.png' %}" style="padding-bottom: 51px;" alt="" class="img-fluid">
        </div>
    </section>

    <section class="solar-get">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="solar-get-text">
                        <img src="{% static 'assets/Frame 633.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="solar-panel-img">
                        <h4 class="mb-3 text-uppercase">Cinnamon Gate Pty Ltd</h4>
                        <h6 class="mb-3">16.28 KW System</h6>
                        <p>We have installed 16.28 KW system with 37 Canadian 440W Panels and Goodwe 15KW Inverter.
                            The owners of the Cafe are very happy with their decision as they wanted the maximum
                            panels on their roof and with the help of our experienced and CEC approved installer we
                            have done it successfully.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="residential_solar" id="batteries">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="residential_solar_main">
                        <img src="{% static 'assets/service_details_dd.png' %}" alt="residential_solar" class="img-fluid">
                    </div>
                    <div class="residential_solar_content">
                        <h4>BATTERIES</h4>
                    </div>
                    <div class="residential_solar_text">
                       <p>nce you install a Solar Battery, the excess energy generated by your solar panels will be sent to your battery. Battery stores the sun’s energy throughout the day, often when you are at work or not at home. You can then schedule the battery to deliver the stored power to your house when you need it most, such as peak times at night when the sun has gone down. This puts you in control of your power and drastically reduces your power bills saving a lot smartly.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock container %}