{% extends "base.html" %}
{% load static %}

{% block container %}
    <section class="victoria-rebate-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 0; padding-right: 0;">
                    <img src="{% static 'images/vectoria_rebate.png' %}" alt="Victoria Rebate Banner" class="img-fluid" style="width:100%;">
                </div>
            </div>
        </div>
    </section>

    <section class="victoria-rebate-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                    <p>The Australian Government introduced Solar PV rebates almost a decade ago, but there are still complications around the topic. In a nutshell, eligible people can install solar panels at a discounted price. Above all Tenants can also apply for the Solar Victoria Rebates.</p>
                    <p>Eligible Victorian households can get a rebate of up to 50% of the purchase cost to install Solar Power System VIC. The rebate cannot exceed $1400 (which is almost half the value of an average 4kW solar panel system).</p>
                    <p>Solar VIC Rebate also offers interest-free loans to complement the rebate. So, the interest-free loan can be applied up to $1400. The loan can be repaid over four years i.e. 48 months or sooner. Or you can opt for solar panels for rental properties and interest-free loans on Solar Batteries. The Victorian Government offered this rebates to boost more and more people to go Green and save our environment.</p>
                    </div>
                    <div class="box_line">
                        <h3>Benefits for opting for Solar VIC Rebate and Interest-free Loan:</h3>
                        <ul>
                            <li>Reduce your Electricity Bill</li>
                            <li>Less Investment in Solar Panels</li>
                            <li>Increases the price of your house and make it more Valuable</li>
                        </ul>
                    </div>
                    <div class="box_line">
                        <h3>Further, let's check the eligibility criteria for Solar VIC Rebate:</h3>
                        <p>There are a few eligibility criteria that Victorian households need to meet before they claim a rebate:</p>
                        <ul>
                            <li>you should be the owner-occupier of an existing property or the owner of a home under construction where the system is to be installed</li>
                            <li>the combined household taxable income of all owners of the house is less than $210,000 per year.</li>
                            <li>the property should be valued at under $3 million, or a home under construction that will be valued at under $3 million at the time of completion</li>
                            <li>the property address has not received previously a solar panel (PV) rebate or a solar battery rebate under the Solar Homes Program</li>
                            <li>the property should not had a solar panel (PV) system installed in the last ten years</li>
                        </ul>
                        <p>Now that you are sure that your property adheres to all the above eligibility criteria, you can start contacting solar retailers who are authorized to participate in this program. Then choose the best among these sellers.</p>

                    </div>
                    <div class="box_line">
                        <h3>How you can claim the Solar Victoria Rebate?</h3>
                        <p>First, you need to decide on the solar provider and work out your energy needs, budget, etc.</p>
                        <ol>
                            <li>Your chosen solar provider will then upload your quote to the Solar Victoria Portal; this will kickstart your online eligibility assessment.</li>
                            <li>Once it is completed, you will need to provide proof of income and details of all homeowners to confirm your eligibility.</li>
                            <li>In case you're applying for a Solar Victoria Rebate for a home Under Construction, you will also need to provide the details of all homeowners so Solar Victoria can confirm property ownership.</li>
                            <li>After the above steps, you will receive an eligibility number and the QR code. (Which you to keep it safely).</li>
                            <li>Further you will have to inform your Solar provider, and he can now proceed with the installation.</li>
                            <li>When your eligibility and is confirmed and installation is done, your retailer will claim the rebate on your behalf and deduct the rebate amount from the total cost of your system. Once your solar is installed, you can pay the outstanding balance directly to your retailer</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


{% endblock container %}
